.product-listing table .action-btn .btn{display: block; margin: 0 auto 9px;}
#products_wrapper{min-height: 200px;}
#products_processing{width: auto;background: transparent;margin: 0;padding: 0;top: auto;}
.product-listing table .pro-detail .pro-text-part h5{
	width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}