/* @import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900); */

/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
/*Just change your choise color here its theme Colors*/
body {
  background: #fff;
}
.top-left-part {
  background: #f1f1f1;
  text-align: center;
  padding: 9px 0px;
}
.top-left-part img{
  width: 230px;
  height: 67px;
}
.top-left-part a{padding: 0;}
/*Top Header Part*/
.logo i {
  color: #ffffff;
}
.navbar-header {
  background: #ffffff;
  border-bottom: 2px solid #bba58c;
}
.navbar-top-links > li > a {
  color: #bba58c;
}
.app-search .form-control, .app-search .form-control:focus{background: #f1f1f1;}
.sidebar .sidebar-head {
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}
.sidebar .sidebar-head h3 {
  color: #686868;
}
/*Right panel*/
.right-sidebar .rpanel-title {
  background: #baa48b;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
  color: #baa48b;
}
/*Sidebar*/
.sidebar {
  background: #f1f1f1;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.sidebar .label-custom {
  background: #01c0c8;
}
#side-menu li a {
  color: #54667a;
}
#side-menu li a {
  color: #333333;
  border-left: 0px solid #fff;
  font-weight: 600;
}
#side-menu > li > a {
  border-left: 3px solid transperant;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
  background: rgba(0, 0, 0, 0.07);
}
#side-menu > li > a.active {
  background: #fff;
  color: #baa48b;
  border-left: 5px solid #baa48b;
  font-weight: 600;
}
#side-menu ul > li > a:hover {
  color: #baa48b;
}
#side-menu ul > li > a.active {
  color: #baa48b;
  font-weight: 500;
}
.user-profile .user-pro-body .u-dropdown {
  color: #54667a;
}
/*themecolor*/
.bg-theme {
  background-color: #707cd2 !important;
}
.bg-theme-dark {
  background-color: #41b3f9 !important;
}
/*Button*/
.btn-custom {
  background: #41b3f9;
  border: 1px solid #41b3f9;
  color: #ffffff;
}
.btn-custom:hover {
  background: #41b3f9;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #41b3f9;
}
/*Custom tab*/
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
  border-bottom: 2px solid #41b3f9;
  color: #41b3f9;
}
.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
  background: #41b3f9;
  border-right: 2px solid #41b3f9;
}
/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #41b3f9;
  color: #ffffff;
}
/*Extra css*/
.bg-theme {
  background-color: #41b3f9 !important;
}
.panel-themecolor,
.panel-theme {
  border-color: #41b3f9;
}
.panel-themecolor .panel-heading,
.panel-theme .panel-heading {
  border-color: #41b3f9;
  color: white;
  background-color: #41b3f9;
}
.panel-themecolor .panel-heading a,
.panel-theme .panel-heading a {
  color: #ffffff;
}
.panel-themecolor .panel-heading a:hover,
.panel-theme .panel-heading a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.panel-themecolor a,
.panel-theme a {
  color: #41b3f9;
}
.panel-themecolor a:hover,
.panel-theme a:hover {
  color: #0791e6;
}

.sidebar-nav ul .sidebar-item  {

  border-bottom: 1px solid #e0e0e0;
 }

.sidebar-nav ul .sidebar-item .first-level  {
  padding-left: 10px;
 }

 
.sidebar-nav ul .sidebar-item .first-level .sidebar-item  {
 list-style: none;
 padding: 7px 0;
 border-bottom: 1px solid #fff;
}
.sidebar-nav ul .sidebar-item .first-level .sidebar-item:last-child{border-bottom: 0;}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link {
  padding: 0px 15px !important;
  color: black;
}
.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link i {
  font-size: 15px;
}
.sidebar-item.active>.sidebar-link{
  background: #fff !important;
  color: #baa48b !important;
  border-left: 5px solid #baa48b !important;
  font-weight: 500 !important;
}