/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  display: block;
  max-width: none;
  max-height: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* --------------- */

/* xZoom Styles below */
.xzoom-container { 
  display: inline-block;
}
.owlCarousel.xzoom-thumbs .owl-controls.clickable{bottom: 60px;}
.owlCarousel.xzoom-thumbs.owl-theme .owl-controls .owl-buttons div {
  color: #a98970;
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 3px 10px;
  font-size: 32px;
  border-radius: 30px;
  background: transparent;
  filter: Alpha(Opacity=50);
  opacity: 1;
  box-shadow: none;
  line-height: 24px;
}
.xzoom-thumbs {
  text-align: center;
  margin: 10px 0;
}

/* .xzoom { 
border: 1px solid #e3e3e3;
} */
.xzoom2, .xzoom3, .xzoom4, .xzoom5 {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

/* Thumbs */
.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
  border: 1px solid #cecece;
 margin: 0;
}
.zoom-img{text-align: center;  border: 1px solid #ccc;}
.xzoom-source, .xzoom-hidden {
  display: block;
  position: static;
  float: none;
  clear: both;
}

/* Everything out of border is hidden */
.xzoom-hidden {
  overflow: hidden;
}

/* Preview */
.xzoom-preview {
  border: 1px solid #e3e3e3;
  background: #fff;
  box-shadow: -0px -0px 10px rgba(0,0,0,0.50);
  z-index: 9;
}

/* Lens */
.xzoom-lens {
  border: 1px solid #e3e3e3;
  
  cursor: crosshair;
}

/* Loading */
.xzoom-loading {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: .7;
  background: url(../images/xloading.gif);
  width: 48px;
  height: 48px;
}

/* Additional class that applied to thumb when it is active */
.xactive {
 
  border: 1px solid #a98970;
}

.xzoom-container .item{display: inline-block;}