.proerty-th-list .col-md-4 .item-thumb img{
    opacity: 0.7;
    /*height: 230px;*/
    vertical-align: middle;
    border: 0px none;
    width: 100%;
    padding-right: 25px;   
}
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #e6e6e6;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #96021b;
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #96021b;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #e6e6e6;
  border-top: none;
  background-color: white;
}