.p-p0{
	padding: 0px!important;
}

.events-home .event {
    width: 100%!important;
    padding: 29px 10px!important;
}
.home-border-bottom{
	border-bottom: 2px solid #878787;
    margin-bottom: 0px!important;
}
.image-event{
	height: 107px!important;
}
.header-logo{
	height: 65px!important;
}
.top-brands-product{
	height: 100px;
	width: 272px;
}
.select-font{
	color: black!important;
}
.filter-option{
	color: black!important;
}
.font-color{
	color: black;
}
